include AUTHORS
include COPYING
include INSTALL.md
include INSTALL.ja.md
include README.md
include README.ja.md
include MANIFEST.in
include TRADEMARKS.TXT
include scripts/karesansui
recursive-include doc *
recursive-include sample *
recursive-include bin *
recursive-include tools *
recursive-include installer *
recursive-include karesansui/locale *
recursive-include karesansui/templates *
recursive-include karesansui/static *
include karesansui.spec
prune sample/specs/collectd/
prune sample/specs/IPAexfont
prune sample/specs/libvirt/
prune sample/specs/python-sqlalchemy/
prune sample/specs/python-webpy/
prune sample/specs/rrdtool/
prune sample/specs/tightvnc-java/
