include AUTHORS
include COPYING
include COPYING.LIB
include INSTALL
include INSTALL.ja
include README
include README.ja
include MANIFEST.in
include scripts/karesansui
recursive-include doc *
recursive-include sample *
recursive-include bin *
recursive-include tools *
recursive-include installer *
recursive-include karesansui/locale *
recursive-include karesansui/templates *
recursive-include karesansui/static *
include karesansui.spec
prune sample/specs/collectd/
prune sample/specs/IPAexfont
prune sample/specs/python-webpy
prune sample/specs/rrdtool
prune sample/specs/tightvnc-java
