#host {
    cursor: pointer;
}

#host .active {
    background:transparent url(../images/host-active-back.gif) no-repeat scroll 0 0;
    color:#666666;
    float:left;
    font-size:12px;
    height:190px;
    margin-left:6px;
    margin-top:20px;
    padding-left:0;
    padding-top:8px;
    position:relative;
    text-align:center;
    width:141px;
}

#host .active .status-b {
    left:89px;
    position:absolute;
    top:90px;
}
#host .active .status {
    font-size:12px;
}


#host .passive {
    color:#444444;
    float:left;
    font-size:12px;
    height:190px;
    margin-left:6px;
    margin-top:20px;
    padding-left:0;
    padding-top:8px;
    position:relative;
    text-align:center;
    width:141px;
}
#host .passive .status-b {
    left:89px;
    position:absolute;
    top:90px;
}
#host .passive .status {
    font-size:12px;
}

#host .icon-shadow {
    margin-left: 8px;
    background-image: url('../images/icon_shadow.png');
    width:124px;
    height:124px;
    padding-top:5px;
    background-repeat:no-repeat;
}
