application.search.path=/usr/lib/python2.6/site-packages
application.log.config=/etc/karesansui/log.conf
application.url.prefix=/karesansui/v2
application.default.locale=ja_JP # settings : ja_JP or en_US
application.template.theme=default
application.tmp.dir=/tmp
application.bin.dir=/usr/share/karesansui/bin
application.generate.dir=/usr/lib/python2.6/site-packages/karesansui/templates/default/_generate
application.uniqkey=

application.mail.email=
application.mail.port=
application.mail.server=

application.proxy.status=
application.proxy.server=
application.proxy.port=
application.proxy.user=
application.proxy.password=

lighttpd.etc.dir=/etc/lighttpd/conf.d/karesansui

database.bind=sqlite:////var/lib/karesansui/karesansui.db
database.pool.status=0
database.pool.size=1
database.pool.max.overflow=10

pysilhouette.conf.path=/etc/pysilhouette/silhouette.conf
