/usr/share/karesansui/bin/add_bonding.py
/usr/share/karesansui/bin/add_disk.py
/usr/share/karesansui/bin/add_iscsi.py
/usr/share/karesansui/bin/add_nic.py
/usr/share/karesansui/bin/append_disk.py
/usr/share/karesansui/bin/apply_lighttpdconf.py
/usr/share/karesansui/bin/apply_snapshot.py
/usr/share/karesansui/bin/autostart_guest.py
/usr/share/karesansui/bin/autostart_network.py
/usr/share/karesansui/bin/autostart_service.py
/usr/share/karesansui/bin/autostart_storage_pool.py
/usr/share/karesansui/bin/connect_virt.py
/usr/share/karesansui/bin/control_iptables.py
/usr/share/karesansui/bin/cputop.py
/usr/share/karesansui/bin/create_guest.py
/usr/share/karesansui/bin/create_network.py
/usr/share/karesansui/bin/create_storage_pool.py
/usr/share/karesansui/bin/create_storage_volume.py
/usr/share/karesansui/bin/delete_bonding.py
/usr/share/karesansui/bin/delete_disk.py
/usr/share/karesansui/bin/delete_export_data.py
/usr/share/karesansui/bin/delete_guest.py
/usr/share/karesansui/bin/delete_iscsi.py
/usr/share/karesansui/bin/delete_network.py
/usr/share/karesansui/bin/delete_nic.py
/usr/share/karesansui/bin/delete_snapshot.py
/usr/share/karesansui/bin/delete_storage_pool.py
/usr/share/karesansui/bin/delete_storage_volume.py
/usr/share/karesansui/bin/destroy_guest.py
/usr/share/karesansui/bin/destroy_storage_pool.py
/usr/share/karesansui/bin/export_guest.py
/usr/share/karesansui/bin/get_cpu_usage.py
/usr/share/karesansui/bin/get_iscsi.py
/usr/share/karesansui/bin/get_memory_usage.py
/usr/share/karesansui/bin/import_guest.py
/usr/share/karesansui/bin/initialize_collectd_conf.py
/usr/share/karesansui/bin/karesansui_sysinfo.py
/usr/share/karesansui/bin/ksscommand.py
/usr/share/karesansui/bin/read_conf.py
/usr/share/karesansui/bin/ready_mount.py
/usr/share/karesansui/bin/reboot_guest.py
/usr/share/karesansui/bin/replicate_guest.py
/usr/share/karesansui/bin/replicate_storage_volume.py
/usr/share/karesansui/bin/restart_network.py
/usr/share/karesansui/bin/restart_network_interface.py
/usr/share/karesansui/bin/restart_service.py
/usr/share/karesansui/bin/restore_firewall.py
/usr/share/karesansui/bin/resume_guest.py
/usr/share/karesansui/bin/save_firewall.py
/usr/share/karesansui/bin/set_mac_address.py
/usr/share/karesansui/bin/set_memory.py
/usr/share/karesansui/bin/set_vcpus.py
/usr/share/karesansui/bin/set_vnc.py
/usr/share/karesansui/bin/shutdown_guest.py
/usr/share/karesansui/bin/start_guest.py
/usr/share/karesansui/bin/start_iscsi.py
/usr/share/karesansui/bin/start_network.py
/usr/share/karesansui/bin/start_service.py
/usr/share/karesansui/bin/start_storage_pool.py
/usr/share/karesansui/bin/stop_iscsi.py
/usr/share/karesansui/bin/stop_network.py
/usr/share/karesansui/bin/stop_service.py
/usr/share/karesansui/bin/suspend_guest.py
/usr/share/karesansui/bin/take_snapshot.py
/usr/share/karesansui/bin/update_iscsi.py
/usr/share/karesansui/bin/update_network.py
/usr/share/karesansui/bin/update_software.py
/usr/share/karesansui/bin/write_conf.py
